.admin-header {
    width: 100%;
    height: 40px;
    background-color: #c573e9;
    color: #fff;
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.signout-button {
    margin-left: auto;
}
.admin-main {
    display: flex;
}