.sidebar {
    height: calc(100vh - 40px);
    background-color: #fff;
    border-right: 1px solid #ccc;
    // -webkit-box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1);
    // -moz-box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1);
    // box-shadow: 2px 0 4px 1px rgba(0,0,0,0.1);
    width: 300px;
    z-index: 9;
    overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.sidebar-search {
    padding: .5rem 1rem;
    background-color: #ceffce;
}
.sidebar-search__input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid indianred;
    font-size: .9em;
    padding-bottom: .2rem;
}
.sidebar-search__input:focus {
    outline: none;
}

/* conversation list */
.conversation-list {
    display: flex;
    flex-direction: column;
    padding: 1rem .75rem;
}
.conversation-item {
    background-color: #a3f1cc;
    margin-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:hover {
        transform: scale(1.04);
        transition: all 0.3s;
    }
}
.conversation-item__info {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    position: relative;
}
.conversation-item__name {
    margin-left: .5rem;
}
.conversation-item__pic {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #e8f722;
}
.conversation-item__status {
    position: absolute;
    right: 10px;
    content: '';
    /*background-color: greenyellow;*/
    /*border: 1px solid greenyellow;*/
    height: 8px;
    width: 8px;
    border-radius: 5px;
    transition: all 0.3s;
}
.conversation-item__status--online {
     background-color: greenyellow;
}
.conversation-item__status--offline {
     background-color: orangered;
}
.conversation-item__date {
    margin-left: auto;
}
/* why am i so tired? */
.conversation-item__message {
    padding: .5rem 1rem;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}