.sidebar {
    height: calc(100vh);
    background-color: #4a2c60;
    background-color: #623D7F;      
    // border-right: 1px solid #ccc;
    // -webkit-box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1);
    // -moz-box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1);
    // box-shadow: 2px 0 4px 1px rgba(0,0,0,0.1);
    width: 300px;
    z-index: 9;
    overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
   display: none;
}
.sidebar-search {
    padding: .5rem .75rem;
    background-color: #ceffce;
}
.sidebar-search__input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid indianred;
    font-size: .9em;
    padding-bottom: .2rem;
}
.sidebar-search__input:focus {
    outline: none;
}

/* conversation list */
.conversation-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}
.conversation-item {
    background-color: #BA004C;
    background-color: #A22EFF;
    margin-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.4);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    &:hover {
        transform: scale(1.04);
        transition: all 0.3s;
        background-color: #CC0053;
        background-color: #b55eff;
    }
}
.conversation-item__info {
    padding: .5rem;
    display: flex;
    align-items: center;
    position: relative;
}
.conversation-item__name {
    margin-left: .5rem;
    color: #fff;
}
.conversation-item__pic {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #fff;
}
.conversation-item__status {
    position: absolute;
    right: 10px;
    content: '';
    /*background-color: greenyellow;*/
    /*border: 1px solid greenyellow;*/
    height: 8px;
    width: 8px;
    border-radius: 5px;
    transition: all 0.3s;
}
.conversation-item__status--online {
     background-color: #0eea57;
     box-shadow: 0 0 1px 1px #0eea57;
}
.conversation-item__status--offline {
     background-color: #ff0048;
     box-shadow: 0 0 1px 1px #ff0048;
}
.conversation-item__date {
    margin-left: auto;
}
/* why am i so tired? */
.conversation-item__message-container {
    padding: .5rem;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    font-size: 0.85em;
    max-height: 35px;
}
.conversation-item__message {
    padding: .25rem .5rem;
    // border-left: 1px solid #b55eff;
}